.mobile-bio-trigger {
  width: 37%;
  margin-top: 3rem;
  cursor: pointer;

  @media screen and (min-width: 501px) and (max-width: 1100px) {
    margin-left: calc(-1 * 5rem);
  }
  @media screen and (max-width: 500px) {
    margin-left: calc(-1 * $mobileSectionSidePadding) !important;
  }
}

.mobile-bio-tray {
  display: block;
  position: fixed;
  top: 10%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 15;
  height: 80%;
  overflow: scroll;
  width: 100%;
  max-width: 500px;
  font-family: inherit;
  box-shadow: 0 6px 14px 2px rgba(0,0,0,.17);
  transform: translateX(-100vw);

  .name {
    color: $brandPurple;
    text-align: center;
    font-size: 28px;
    margin-top: 1.5rem;
  }

  .extra-section {
    padding: 0 1.25rem 1.5rem;
    font-family: inherit;

    .extra-footnote {
      margin-bottom: 7px;
      font-size: 14px;
      font-family: inherit;
      color: $brandNavy;
    }
  }


  #tray-close {
    width: 100%;
    background-color: $brandBlue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    height: 39px;

    p {
      color: white;
      font-weight: 700;
      font-family: inherit;
    }

    img {
      width: 8px;
      margin-left: 14px;
    }
  }

  .bio-info {
    width: 100%;
    max-width: none;
    padding: 1.5rem 1.25rem;
    margin-top: 0;

    .name {
      text-align: left;
      margin: 0 0 0.5rem;
    }

    h4 {
      font-size: 20px;
    }

    .stain {
      width: 100%;
    }

    #anim-up {
      width: 100%;
    }
  }
}