[data-page-id="pat-profile-mark"] {

  section[data-section-id="1"] {
    min-height: 40rem;

    .two-column .right-side {
      .bullet-list {
        display: block;

        li {
          width: 100%;

          &:last-child {
            margin-top: 1rem;
          }
        }
      }

      h4 {
        margin-bottom: 2rem;
        text-align: left;

        @media screen and (max-width: 1200px) {
          font-size: 18px;
        }
      }
    }
  }

  section[data-section-id="2"] {
    padding-left: 30rem;
    padding-top: 0;

    @media screen and (max-width: 1200px) {
      padding: 4rem 2rem 7rem;
    }
  
    .owl-carousel {
      width: 100%;
    }
  
    .owl-item {
      width: 90%;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #mark-block-7 {
      .cta {
        margin-top: 1rem;
      }
    }

    #mobile-bio-trigger {
      margin-left: -2rem;
    }
  }

  section[data-section-id="3"] {
    .cta {
      width: 30rem;
      height: auto;
      margin-bottom: 1.5rem;
      padding: 19px 30px;

      &#sect-3-tool-exit {
        margin-top: 2rem;
      }
    }

    .content-lower {
      font-family: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .subhead {
      text-align: center;
      font-weight: 700;
      margin: 3rem 0 1rem;
      font-size: 22px;
      width: 80%;

      @media screen and (max-width: 450px) {
        width: 100%;
      }
    }

    .graph-header {
      color: $brandPurple;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 1rem;

      @media screen and (max-width: 1200px) {
        text-align: center;
      }
    }

    .direction {
      @media screen and (max-width: 1200px) {
        text-align: center;
      }
    }

    .desc-text {
      width: 95%;
    }

    .divider {
      width: 85%;
      margin: 2rem 0;

      @media screen and (max-width: 1200px) {
        width: 100%;
      }
    }

    .images-container {
      display: flex;
      justify-content: space-between;
      font-family: inherit;
      width: 85%;
      margin-top: 2.5rem;
      // min-height: 36rem;

      @media screen and (max-width: 1200px) {
        flex-direction: column-reverse;
        justify-content: flex-start;
        width: 100%;
        min-height: 0;
        margin-bottom: 2rem;
      }

      @media screen and (max-width: 1200px) {
        margin-bottom: 0;
      }

      .left-side {
        width: 38%;
        margin-right: 3rem;
        font-family: inherit;

        @media screen and (max-width: 1200px) {
          width: 100%;
        }

        .text-bubble {
          display: none;
          font-family: inherit;
          padding: 2.5rem 4.2rem 2.5rem 2.5rem;

          @media screen and (max-width: 1200px) {
            width: 100%;
            max-width: 50%;
            padding: 2.5rem 1.6rem 1.7rem;
            margin-left: auto;
            margin-right: auto;
          }

          @media screen and (max-width: 500px) {
            max-width: 100%;
          }
    
          &.visible {
            display: block;
          }

          &#section-3-state-1 {
            background: url('./assets/images/profiles/mark/text-bubble-1.png') no-repeat;
            background-size: 100% 100%;

            @media screen and (max-width: 1200px) {
              background: url('./assets/images/profiles/mobile-text-bubble-1.png') no-repeat;
              background-size: 100% 100%;
            }
          }
          &#section-3-state-2 {
            background: url('./assets/images/profiles/mark/text-bubble-2.png') no-repeat;
            background-size: 100% 100%;
            margin-top: 6rem;

            @media screen and (max-width: 1200px) {
              background: url('./assets/images/profiles/mobile-text-bubble-2.png') no-repeat;
              background-size: 100% 100%;
              margin-top: 0;
            }
          }
          &#section-3-state-3 {
            background: url('./assets/images/profiles/mark/text-bubble-3.png') no-repeat;
            background-size: 100% 100%;
            margin-top: 6.6rem;

            @media screen and (max-width: 1200px) {
              background: url('./assets/images/profiles/mobile-text-bubble-2.png') no-repeat;
              background-size: 100% 100%;
              margin-top: 0;
            }
          }
          &#section-3-state-4 {
            background: url('./assets/images/profiles/mark/text-bubble-4.png') no-repeat;
            background-size: 100% 100%;
            margin-top: 6rem;

            @media screen and (max-width: 1200px) {
              background: url('./assets/images/profiles/mobile-text-bubble-2.png') no-repeat;
              background-size: 100% 100%;
              margin-top: 0;
            }
          }

          p {
            font-family: inherit;

            @media screen and (max-width: 1200px) {
              line-height: 1.2;
              font-size: 14px;
            }
          }

          a {
            color: blue;
          }

          & > img {
            @media screen and (max-width: 1200px) {
              width: 48%;
            }
            @media screen and (max-width: 450px) {
              width: 100%;
            }
          }
        }
      }

      .right-side {
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: inherit;

        @media screen and (max-width: 1200px) {
          width: 100%;
        }
        
        .graphic-container {
          position: relative;
          font-family: inherit;

          #tag-1 {
            top: 8%;
            left: 20%;
          }

          #tag-2 {
            top: 4%;
            left: 61%;

            @media screen and (max-width: 450px) {
              top: 4%;
              left: 59%;
              height: auto;

              &.open {
                padding: 4px 4px 4px 8px;
              }
            }
          }

          #tag-3 {
            top: 21%;
            right: 85%;

            @media screen and (max-width: 450px) {
              left: 8%;
              top: 24%;
            }
          }

          #tag-4 {
            top: 35%;
            left: 30%;

            @media screen and (max-width: 450px) {
              left: 34%;
            }
          }

          #tag-5 {
            top: 33%;
            left: 61%;

            @media screen and (max-width: 450px) {
              height: auto;
              top: 27%;

              &.open {
                padding: 4px 4px 4px 8px;
              }
            }
          }

          #tag-6 {
            top: 49%;
            left: 25%;

            @media screen and (max-width: 450px) {
              top: 50%;
              left: 24%;
            }
          }

          #tag-7 {
            top: 48%;
            left: 55%;

            @media screen and (max-width: 450px) {
              top: 48%;
              left: 56%;
            }
          }

          #tag-8 {
            top: 4%;
            left: 21%;
          }
        }

        .graphic {
          display: none;

          @media screen and (max-width: 1200px) {
            max-width: 580px;
          }
          @media screen and (max-width: 450px) {
            max-width: 100%;
          }
    
          &.visible {
            display: block;
          }
        }

        .slider-container {
          margin: 3rem 0 0;
          width: 94%;

          @media screen and (max-width: 1200px) {
            width: 100%;
          }
        }

        .slider {
          display: none;
          width: 100%;

          &.visible {
            display: block;
          }
        }
      }
    }

    .graphs-container {
      display: flex;
      justify-content: space-between;
      width: 95%;
      margin-top: 4rem;

      @media screen and (max-width: 1200px) {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0.5rem;
        width: 100%;
      }

      & > div {
        width: 46%;

        @media screen and (max-width: 1200px) {
          width: 100%;
          margin-bottom: 2rem;
        }

        &.right-side {
          @media screen and (max-width: 1200px) {
            margin-bottom: 0;
          }
        }

        .graph {
          width: 100%;
          display: none;
          max-width: 580px;

          &.visible {
            display: block;
          }
        }
      }
    }

    .slider-container {
      position: relative;
      margin: 2rem 0 3.5rem;

      @media screen and (max-width: 1200px) {
        margin: 2.5rem 0;
      }

      .slider {
        width: pxToRem(600);
        display: none;
        
        &.visible {
          display: block;
        }
      }
    }

    h4 {
      margin: 4rem 0 1rem;
      font-size: 14px;
      color: #1A3141;

      @media screen and (max-width: 450px) {
        margin: 1rem 0;
      }
    }
  }

  section[data-section-id="4"] {

    #content-box {
      background: url('./assets/images/profiles/mark/content-box.png') no-repeat;
      background-size: 100% 100%;
      width: 88%;
      font-family: inherit;
      margin: 5rem auto;
      padding: 4rem 3rem;

      @media screen and (max-width: 1200px) {
        width: 100%;
        margin: 3rem 0;
        padding: 2rem 1.5rem;
        background: url('./assets/images/profiles/mark/mobile/content-box-mobile.png') no-repeat;
        background-size: 100% 100%;
      }

      .large-screens-only {
        display: none;

        @media screen and (min-width: 500px) {
          display: block;
        }
      }

      h2 {
        text-align: center;
        font-size: 28px;

        @media screen and (max-width: 450px) {
          font-size: 24px;
          line-height: 1.25;
        }
      }

      .flex {
        align-items: center;
        justify-content: space-between;
        margin: 3.5rem 0;
        width: 100%;
        padding: 0 3rem;
        font-family: inherit;

        @media screen and (max-width: 800px) {
          flex-direction: column;
          padding: 0;
          margin: 0 0 1rem;
        }

        .graphic {
          width: 58%;
          margin-right: 4.5rem;
  
          @media screen and (max-width: 800px) {
            width: 100%;
            margin: 2rem 0;
          }
        }
      }

      .subhead {
        color: $brandPurple;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 2rem;

        @media screen and (max-width: 450px) {
          font-size: 21px;
          line-height: 1.25;
          margin-bottom: 1.5rem;
        }
      }

      .bullet-list {
        align-self: auto;

        li {
          font-size: 18px;
          font-weight: 300;
          margin-bottom: 12px;

          @media screen and (max-width: 450px) {
            font-size: 17px;
          }
        }
      }
    }
  }

  section[data-section-id="5"] {
    .acc-content > .bold {
      font-size: 24px;
      color: $brandNavy;
      font-weight: 700;
      font-family: inherit;
      margin: 5rem 0 1.5rem;
      text-align: center;
      width: 100%;

      @media screen and (max-width: 450px) {
        margin: 2rem 0 1.5rem;
      }
    }

    .direction {
      width: 100%;
      text-align: center;
    }

    .graph-container {
      position: relative;
      width: 80%;
      margin: 3rem auto;

      @media screen and (max-width: 1200px) {
        width: 100%;
      }

      .graph {
        width: 100%;
        display: none;
  
        &.visible {
          display: block;
        }
      }
  
      & > .hotspot {
        position: absolute;
        height: 22px;
        cursor: pointer;

        @media screen and (max-width: 450px) {
          height: 15px;
        }

        &#state-1 {
          top: 51%;
          left: 17%;
          transform: rotate(25deg);
          width: 76%;

          @media screen and (max-width: 450px) {
            top: 41%;
          }
        }

        &#state-2 {
          top: 53%;
          left: 19%;
          transform: rotate(35deg);
          width: 52%;

          @media screen and (max-width: 450px) {
            top: 43%;
          }
        }

        &#state-3 {
          top: 53%;
          left: 13%;
          transform: rotate(49deg);
          width: 45%;

          @media screen and (max-width: 450px) {
            top: 43%;
            left: 7%;
            width: 50%;
          }
        }
      }

      .upper-hotspots {
        position: absolute;
        top: 21%;
        right: 9%;
        width: 48%;
        height: 17%;

        @media screen and (max-width: 450px) {
          top: 70%;
          left: 3%;
          width: 94%;
        }
  
        .hotspot {
          width: 100%;
          height: 33%;
          cursor: pointer;

          @media screen and (max-width: 450px) {
            height: 50%;
          }
        }
      }
    }
  }


  // IgAN Prediction Modal
  [data-modal-id="igan-prediction"] {
    padding: 3.5rem 5rem;
    max-height: 80%;

    @media screen and (max-width: 450px) {
      height: 80%;
      max-height: 80%;
      padding: 1.5rem;
    }

    .modal-inner {
      overflow-y: scroll;

      @media screen and (max-width: 450px) {
        overflow-y: scroll;
        padding-top: 1.5rem;
      }
    }

    .modal-big-header {
      text-align: center;

      @media screen and (max-width: 450px) {
        font-size: 23px;
      }
    }

    .modal-header {
      margin: 2rem 0;
      width: 80%;
      text-align: left;

      @media screen and (max-width: 450px) {
        font-size: 1rem;
        width: 100%;
      }
    }

    .bold.purple {
      font-size: 20px;
      margin-bottom: 1.25rem;

      @media screen and (max-width: 450px) {
        font-size: 17px;
        margin-bottom: 0.5rem;
      }

      &:last-of-type {
        @media screen and (max-width: 450px) {
          margin-bottom: 2.5rem;
        }
      }
    }

    .bullet-list {
      margin-bottom: 1.5rem;

      li {
        margin-bottom: 10px;

        @media screen and (max-width: 450px) {
          margin-bottom: 5px;
          font-size: 1rem;
        }
      }
    }

    .text {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 1.25rem;

      @media screen and (max-width: 450px) {
        font-size: 1rem;
      }
    }
  }
}